.header-background {
  position: relative;
  overflow: hidden;
}

.header-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://cdn.corenexis.com/view/?img=d/ap11/5BTcdQ.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: brightness(0.7);
}
